{% extends 'base.html' %}

{% load static %}

{% block title %}借样机{% endblock %}

<!--{% block myinf_menu-open %}menu-open{% endblock %}-->
<!--{% block myinf_active %}active{% endblock %}-->
<!--{% block myphone_active %}active{% endblock %}-->

{% block head %}借样机{% endblock %}

{% block content %}

<div class="row">
    <form method="post" action="">
        {% csrf_token %}
        <div class="form-group">
            {{form.as_table}}
            <td>
                <button type="submit" class="btn btn-info mx-2">查询</button>
            </td>
        </div>
    </form>


    <div class="col-12">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">
                    样机信息
                    <i class="nav-icon fas fa-question-circle" data-container="body" data-toggle="popover"
                       data-placement="right" data-content="待定">
                    </i>
                </h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="maximize">
                        <i class="fas fa-expand"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body ">
                <table class="table table-bordered table-hover " id="example">
                    <thead>
                    <tr>
                        <th>IMEI号</th>
                        <th>样机名称</th>
                        <th>样机阶段</th>
                        <th>样机编号</th>
                        <th>备注</th>
                        <th>样机状态</th>
                        <th>所在小组</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for phone in phones %}
                    <tr>
                        <td>{{ phone.IMEI }}</td>
                        <td>{{ phone.name }}</td>
                        <td>{{ phone.stage }}</td>
                        <td>{{ phone.num }}</td>
                        <td>{{ phone.note }}</td>
                        <td>{% if phone.is_borrow == 0 %}
                            在库
                            {% else %}
                            借出
                            {% endif %}
                        </td>
                        <td>{{ phone.creater}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>


</div>

<button id="button">按钮</button>

{% endblock %}

{% block javascript %}
<script>
     $(document).ready(function() {
    var table = $('#example').DataTable({
<!--                 //这样配置后，即可用DT的API来访问表格数据-->
            columns: [
                {data: "IMEI号"},
                {data: "样机名称"},
                {data: "样机阶段"},
                {data: "样机编号"},
                {data: "备注"},
                {data: "样机状态"},
                {data: "所在小组"},
            ]
    });
    table.select.style( 'os' );
    $('#example tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
    } );

    $('#button').click( function () {
        var rowData = table.row('.selected').data();
        console.log(rowData);
        alert( "第一列内容："+rowData.IMEI号 );
    } );

      });


</script>
{% endblock %}