{% extends 'base.html' %}

{% load static %}

{% block title %}样机信息修改{% endblock %}

<!--{% block myinf_menu-open %}menu-open{% endblock %}-->


{% block head %}样机信息修改{% endblock %}

{% block content %}

<button onclick="hidecolumn();">隐藏第一列</button>
<div class="row">
    <div class="col-12">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">
                    样机信息
                    <i class="nav-icon fas fa-question-circle" data-container="body" data-toggle="popover"
                       data-placement="right" data-content="待定">
                    </i>
                </h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="maximize">
                        <i class="fas fa-expand"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body ">
                <table class="table table-bordered table-hover " id="example">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>IMEI号</th>
                        <th>样机名称</th>
                        <th>样机阶段</th>
                        <th>样机编号</th>
                        <th>备注</th>
                        <th>样机状态</th>
                        <th>所在小组</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


</div>

{% endblock %}


{% block javascript %}
<script>

     function hidecolumn() {
        $('#example tr').find('td:eq(0)').hide();
         $('#example tr').find('th:eq(0)').hide();
        }

     $(document).ready(function() {
        $('#example').DataTable({
            ajax :{
                    url:'http://127.0.0.1:8000/phone/data_phone_input',
                    dataSrc: ''
            },
            columns:[
                {data: "id"},
                {data: "IMEI"},
                {data: "name"},
                {data: "stage"},
                {data: "num"},
                {data: "note"},
                {data: "is_borrow"},
                {data: "phone_dep_id"},
            ]
        });
      });


</script>
{% endblock %}